Resources:
  AWSEBSecurityGroup:
    Type: "AWS::EC2::SecurityGroup"
    Properties:
      GroupDescription: "Security group to allow HTTPS for all, SSH for office"
      SecurityGroupIngress:
        - {SourceSecurityGroupOwnerId : {"Fn::GetAtt" : ["AWSEBLoadBalancer", "SourceSecurityGroup.OwnerAlias"]},
           SourceSecurityGroupName: {"Fn::GetAtt" : ["AWSEBLoadBalancer", "SourceSecurityGroup.GroupName"]},
           IpProtocol: "tcp",
           FromPort: "80",
           ToPort: "80"}
